/* Page d'accueil */

ul {
    list-style-type: none;
  }
#corpsAccueil {
  background-image: url(../Images/running.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Page Event */

/* Page Training */

/* Page Infos */

/* Page Inscriptions */