/* Page d'accueil */
#accueil {
  margin: none;
}
ul {
    list-style-type: none;
  }
#corpsAccueil {
  background-image: url(../Images/running.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Page Event */

/* Page Training */

/* Page Infos */

/* Page Inscriptions */